body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    min-height: 100vh;

    font-family: Roboto, sans-serif;
    text-align: center;
    color: #E5E7EB;

}

.Dark {
    background-color: #1F2937;
}

button {
    color: white;
    border-color: white;
    background-color: #3882F6;
    border-radius: 10px;

    padding: 8px 32px;
    font-weight: bold;
    font-size: 18px;
}




/* header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    color: #F9FAF8;

    padding: 8px 125px;
}

ul.links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    display: flex;
    align-items: center;

    gap: 16px;
    font-size: 18px;
}




/* hero section */
.AwesomeSec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 64px;

    background-color: #1F2937;
    padding: 48px 125px;
    flex: 1 1 auto;
}

.hero {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    text-align: left;
}

.imgholder {
    background-color: #F0F0F0;
    color: #000000;
    text-align: center;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero p {
    margin: 0;
    padding: 0;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    font-size: 18px;
}




/* grid section */
.gridsec {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 32px 32px;
    color: #000000;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.btngan {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.box {
    width: 200px;
    height: 200px;

    border-radius: 20px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
}




/* quote section */
.quote {
    background-color: #888888;
    color: #FFFFFF;
    padding: 12px 100px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    align-self: center;
    margin: 12px;
    max-width: 1500px;
    text-align: left;
}

.quote b {
    text-align: right;
    font-size: 28px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}




/* call to action section */
.main {
    background: #3882F6;

    flex-basis: 175px;
    max-width: 1000px;

    border-radius: 20px;
    padding: 8px 72px;
    margin: 32px auto;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;

    box-sizing: border-box;
    text-align: left;
}

.main .big{
    font-size: 28px;
    font-weight: bolder;

}


/* footer section */
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 8px;
}